* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header-espaciado {
  padding: 90px;
}

img {
  height: auto;
  display: block;
}

/*===== Barra de Navegacion =====*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6b0400;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #fff;
  display: flex;
  text-align: center;
  text-decoration: none;
}

nav ul {
  font-family: "Bebas Neue";
  font-size: 48px;
}

nav li {
  font-size: 35px;
  margin-right: 10px;
  margin-top: 45px;
  display: inline-block;
}

#logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 160px;
  object-fit: cover;
  width: 70px;
  height: 50px;
}

.menu-nav {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Ocultar checkbox y hamburguesa en desktop */
#menu-toggle,
.hamburguesa {
  display: none;
}

.hamburguesa {
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburguesa span {
  width: 25px;
  height: 3px;
  background: #ffffff;
  transition: 0.3s;
}

.navegacion {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  filter: invert(100%);
}

.naveg-texto {
  display: none;
}
.boton:hover {
  background-color: #f33535;
  color: #fff;
  border-color: transparent;
}

/*Borré esos cosos raros.*/

/*===== PERFIL LOGIN =====*/
.perfil-img {
  height: 60px;
  width: 60px;
  margin-top: 45px;
  margin-bottom: 45px;
}

/*===== CARRUSEL =====*/
.carrusel img:hover {
  transition: 0.5s;
  border: 4px solid #f33535;
  scale: 1.1;
}
.títuloCarrusel {
  color: #fff;
  text-align: left;
  margin-left: 100px;
}
ul.carrusel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  list-style: none;
}
ul.carrusel li {
  margin-right: 20px;
  scroll-snap-align: start;
}
.fondoCarrusel {
  background-image: url("./Imgs/Top_Juegos.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carrusel-pos {
  color: white;
}
.carrusel-nom {
  color: white;
  text-align: center;
}
/*===== Sección de juegos. =====*/

.juegos-populares {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

/*==== Guías de jueguitos. ====*/

.guia-juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 10px;
  border: 2px solid #000;
  border-bottom: 6px solid #000;
}

.guia-juego img {
  width: 100%;
}

.guia-juego p {
  font-size: 24px;
}

/*===== Esta partecita es solo para no perderlo. En un rato lo sigo.

.guia-nom-juegos {
  font-size: 30px; 
  font-weight: bold;

 =====*/

/*===== PIE DE PÁGINA =====*/

footer {
  background-image: url("./Imgs/Textura_Footer_Mobile.png");
  color: #fff;
  text-align: left;
  padding: 40px;
}

@media (max-width: 412px) {
  /*NAV MOBILE*/
  nav {
    height: 80px;
  }
  .menu-nav {
    position: absolute;
    top: 100%;
    left: 85px;
    right: 0;
    background: #000000;
    flex-direction: column;
    gap: 0;
    display: none;
    border-top: 1px solid #ddd;
    z-index: 100;
    width: 80%;
  }
  #logo {
    order: 1;
    width: 30px;
    height: 50px;
    margin-top: 15px;
  }
  .navegacion {
    order: 3;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: -55px;
  }
  .naveg-texto {
    font-family: "Bebas Neue";
    display: block;
    font-size: 40px;
    color: white;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 100px;
  }
  #perfil-login {
    order: 4;
    align-items: center;
    margin-left: 0px;
    margin-top: 25px;
  }
  .perfil-img {
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-left: 15px;
  }
  .menu-nav li a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
  }

  .hamburguesa {
    display: flex;
    order: 4;
    margin-top: 30px;
    color: #fff;
  }
  nav:has(#menu-toggle:checked) .menu-nav {
    display: flex;
  }
  nav:has(#menu-toggle:checked) .hamburguesa span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
  nav:has(#menu-toggle:checked) .hamburguesa span:nth-child(2) {
    opacity: 0;
  }
  nav:has(#menu-toggle:checked) .hamburguesa span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
