* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header-espaciado {
  padding: 64px;
}

img {
  height: auto;
  display: block;
}

/*===== Barra de Navegacion =====*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6b0400;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #fff;
  display: flex;
  text-align: center;
  text-decoration: none;
}

nav ul {
  font-family: "Bebas Neue";
  font-size: 48px;
}

nav li {
  font-size: 35px;
  margin-right: 10px;
  margin-top: 45px;
  display: inline-block;
}

#logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 160px;
  object-fit: cover;
  width: 70px;
  height: 50px;
}

.menu-nav {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Ocultar checkbox y hamburguesa en desktop */
#menu-toggle,
.hamburguesa {
  display: none;
}

.hamburguesa {
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburguesa span {
  width: 25px;
  height: 3px;
  background: #ffffff;
  transition: 0.3s;
}

.navegacion {
  width: 60px;
  height: 60px;
  margin-top: -10px;
  margin-bottom: 45px;
  filter: invert(100%);
}

.naveg-texto {
  display: none;
}

.títulosSección {
  font-size: 60px;
  width: 100%;
}
.loles {
  margin-top: 180px;
  margin-left: 75px;
}

.títulosArtículos {
  font-size: 40px;
}

.títulosArtículos:hover {
  color: #f33535;
}

/*===== PERFIL LOGIN =====*/
.perfil-img {
  height: 60px;
  width: 60px;
  margin-top: 35px;
  margin-bottom: 45px;
}

/*===== SECCION NOTICIA RELEVANTE =====*/
.podria-interesarte {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  gap: 25px;
  max-width: 1000px;
  margin: 50px auto;
}

.podria-interesarte article {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  padding: 20px;
  margin-left: 0px;
}

.podria-interesarte article img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 6px;
}

.podria-interesarte .texto {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.podria-interesarte .títulosArtículos {
  font-size: 1rem;
  margin: 0;
  line-height: 1.3;
}

.podria-interesarte p {
  font-size: 0.85rem;
  color: #666;
  margin: 0;
}

/* ----- VALORACIÓN ----- */

.rating-actions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 28px;
  gap: 80px;
}

.reaction {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reaction i {
  font-size: 20px;
  color: black;
}

.reaction span {
  font-size: 14px;
}

/* ----- Versión chiquita, ya la arreglé. ----- */

.reacciónChiquita {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  gap: 28px;
}

.reacciónChiquita span {
  font-size: 14px;
}

/*===== SECCIÓN NOTICIAS =====*/
.noticias {
  margin: 60px;
}
#review-card {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding: 50px;
  border-radius: 8px;
}

#review-card img {
  width: 50%;
  height: 20%;
  object-fit: cover;
  flex-shrink: 0; /* Evita que la imagen se encoja */
  /*Del flex-shrink no sabía, gracias.*/
  border-radius: 6px;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenido h1 {
  font-size: 1.8rem;
  margin: 0;
  line-height: 1.2;
  color: black;
}

.contenido h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 400;
  color: #555;
}

.contenido p {
  font-size: 1rem;
  margin: 0;
  color: #333;
  line-height: 1.5;
}

.contenido h1:hover {
  color: #f33535;
}

.btn-review {
  display: inline-block;
  background: #d90429; /* Rojo */
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  width: 70%;
  height: 20%;
  margin-top: 10px;
  margin-left: 45px;
  transition: background 0.2s;
  text-align: center;
}

.btn-review:hover {
  background: #a0031f; /* Rojo más oscuro al pasar el mouse */
}

.cargarNoticias {
  width: 50%;
  height: 50px;
  display: inline-block;
  background: white;
  color: #f33535;
  border-color: #f33535;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
}

.cargarNoticias:hover {
  background: #f33535;
  color: white;
  cursor: pointer;
  border-color: transparent;
}

/*===== PIE DE PÁGINA =====*/

footer {
  background-image: url("./Imgs/Textura_Footer_Mobile.png");
  color: #fff;
  text-align: left;
  padding: 40px;
}

html {
  scroll-behavior: smooth;
}

.noticiasuelta {
  text-decoration: none;
}

.cargarNoticias {
  width: 60%;
  height: 50px;
  display: inline-block;
  background: white;
  color: #f33535;
  border-color: #f33535;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 270px;
}

.cargarNoticias:hover {
  background: #f33535;
  color: white;
  cursor: pointer;
  border-color: transparent;
}
/* Responsive para 412px x 932px */
@media (max-width: 412px) {
  /*NAV MOBILE*/
  nav {
    height: 80px;
  }
  .menu-nav {
    position: absolute;
    top: 100%;
    left: 85px;
    right: 0;
    background: #000000;
    flex-direction: column;
    gap: 0;
    display: none;
    border-top: 1px solid #ddd;
    z-index: 100;
    width: 80%;
  }
  #logo {
    order: 1;
    width: 30px;
    height: 50px;
    margin-top: 15px;
  }
  .navegacion {
    order: 3;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 60px;
    margin-top: -55px;
    filter: invert(100%);
  }
  .naveg-texto {
    font-family: "Bebas Neue";
    display: block;
    font-size: 40px;
    color: white;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 100px;
  }
  #perfil-login {
    order: 4;
    align-items: center;
    margin-left: 0px;
    margin-top: 25px;
  }
  .perfil-img {
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-left: 15px;
  }
  .menu-nav li a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
  }

  .hamburguesa {
    display: flex;
    order: 4;
    margin-top: 30px;
    color: #fff;
  }
  nav:has(#menu-toggle:checked) .menu-nav {
    display: flex;
  }
  nav:has(#menu-toggle:checked) .hamburguesa span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
  nav:has(#menu-toggle:checked) .hamburguesa span:nth-child(2) {
    opacity: 0;
  }
  nav:has(#menu-toggle:checked) .hamburguesa span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  /* seccion noticia relevante mobile */

  .podria-interesarte {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .podria-interesarte article {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding: 20px;
    margin-left: 0px;
  }

  .podria-interesarte article img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 6px;
  }

  .podria-interesarte .texto {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .podria-interesarte .títulosArtículos {
    font-size: 15px;
    margin: 0;
    line-height: 1.3;
  }

  .podria-interesarte p {
    font-size: 0.85rem;
    color: #666;
    margin: 0;
  }
  /* SECCION NOTICIAS MOBILE */
  .cargarNoticias {
    width: 60%;
    height: 50px;
    display: inline-block;
    background: white; /* Rojo */
    color: #d90429;
    border-color: #d90429;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 85px;
  }
  .títulosSección {
    font-size: 25px;
    width: 100%;
  }
  .loles {
    margin-top: 70px;
    margin-left: 25px;
  }
  .noticias {
    margin: 25px;
  }
  .noticias h2 {
    display: none;
  }
  .rating-actions {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 28px;
    gap: 50px;
}
  #review-card {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding: 0px;
    padding-bottom: 25px;
    border-radius: 8px;
  }

  #review-card img {
    width: 50%;
    height: 20%;
    object-fit: cover;
    flex-shrink: 0; /* Evita que la imagen se encoja */
    /*Del flex-shrink no sabía, gracias.*/
    border-radius: 6px;
  }

  .contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contenido h1 {
    font-size: 15px;
    margin-bottom: -10px;
    line-height: 1.2;
  }

  .contenido h2 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 400;
    color: #555;
  }

  .contenido p {
    font-size: 1rem;
    margin: 0;
    color: #333;
    line-height: 1.5;
  }

  .btn-review {
    display: inline-block;
    background: #d90429; /* Rojo */
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    width: 70%;
    height: 20%;
    margin-top: 10px;
    margin-left: 45px;
    transition: background 0.2s;
    text-align: center;
  }

  .btn-review:hover {
    background: #a0031f; /* Rojo más oscuro al pasar el mouse */
  }

  .podria-interesarte p {
    font-size: 0.85rem;
    color: #666;
    margin: 0;
  }
  /* SECCION NOTICIAS MOBILE */
  .cargarNoticias {
    width: 70%;
    height: 50px;
    display: inline-block;
    background: white; /* Rojo */
    color: #d90429;
    border-color: #d90429;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 60px;
  }
}
